<!-- <video id="main-video" class="video" autoplay="autoplay" loop="loop" muted="" height="350px" width="600px">
  <source src="main.mp4" type="video/mp4" />
</video> -->
<div class="main content">
    <h1 class="content-heading">Lera Consulting Group, Inc.</h1>
    <a href="#two">
      <span class="glyphicon glyphicon-menu-down"></span>
    </a>
</div>
<div class="main" id="two">
  <div class="services two-image">
    <%= image_tag "services.jpg" %>
    <h2>Our Services</h2>
  </div>
  <div class="courses two-image">
    <%= image_tag "clients.jpg" %>
    <h2>Courses</h2>
  </div>
  <div class="about two-image">
    <%= image_tag "about.jpg" %>
    <h2>About Us</h2>
  </div>

  <div class="info-panel">
    <h2>Welcome to Lera Consulting Group, Inc.</h2>
    <p>Lera Consulting Group, Inc. provides a wide variety of customized Human
      Resources consulting services to meet your business needs. Established in
      1998, we are a south Florida-based company with over 50 years of experience
      in both the corporate and consulting worlds. By effectively building relationships
      with you, we can best understand your organization and your people and align programs
      and services with your company’s strategy, goals, and culture.</p>

    <h2>Our Mission</h2>
    <p>Our mission is to effectively partner with clients to enhance potential
      and productivity at the individual level in order to successfully impact
      performance at the organization level.</p>

    <h2>What Makes Lera Different?</h2>
    <ul>
      <li><b>Customization. </b> We customize our programs and services. There is no one-size-fits-all mentality here.</li>
    </ul>
    <ul>
      <li><b>Relationships. </b> We build relationships with our clients. We get to know you and your organization.</li>
    </ul>
    <ul>
      <li><b>Experience. </b> We have over 50 years of experience in both the corporate and consulting worlds.</li>
    </ul>
  </div>

  <div class="clients">
    <h2>Clients</h2>
    <div class="client-group client-group-back">
      <div class="client-back">
        <%= image_tag "broadspire.png", class:"client client-back" %>
      </div>
      <div class="client-back">
        <%= image_tag "farmers.png", class:"client client-back" %>
      </div>
      <div class="client-back">
        <%= image_tag "noven.png", class:"client client-back" %>
      </div>
    </div>
    <div class="client-group client-group-left">
      <div class="client-left">
        <%= image_tag "balfour.png", class:"client client-left"%>
      </div>
      <div class="client-left">
        <%= image_tag "embraer.png", class:"client client-left" %>
      </div>
      <div class="client-left">
        <%= image_tag "mdc.png", class:"client client-left" %>
      </div>
    </div>
    <div class="client-group client-group-right">
      <div class="client-right">
        <%= image_tag "baptist.png", class:"client client-right" %>
      </div>
      <div class="client-right">
        <%= image_tag "levis.png", class:"client client-right" %>
      </div>
      <div class="client-right">
        <%= image_tag "santander.png", class:"client client-right" %>
      </div>
    </div>
    <div class="client-group client-group-front">
      <div class="client-front">
        <%= image_tag "royal.jpeg", class:"client client-front" %>
      </div>
      <div class="client-front">
        <%= image_tag "ryder.png", class:"client client-front" %>
      </div>
    </div>
  </div>
  <span class="glyphicon glyphicon-menu-left"></span>
  <span class="glyphicon glyphicon-menu-right"></span>
</div>
